.lol{
  margin: 20px;
  background: linear-gradient(to left top, rgb(0, 128, 9), rgb(1, 39, 1), rgb(0, 128, 9));
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(230, 255, 255);
}

.container-weight{
  background: rgba(255,255,255,0.3);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  border-radius: 10px;
  width: 85%;
  max-width: 450px;
}

.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.input{
  padding: 10px;
  width: 70%;
  background: rgba(255,255,255,0.3);
  border-color: rgba(255,255,255,0.5);
  font-size: 18px;
  border-radius: 10px;
  color: darkgreen;
  outline: none;
}

.error{
  color: red;
}

.lolz {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 40vh;
  align-items: center;
  font-family: sans-serif;
}

.btn {
  background-color: rgb(179, 243, 196);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: rgb(3, 145, 34);
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}